<div class="card sv-bg-dark sv-border-accent text-center min-h-100">
    <h3 class="card-header sv-header">{{ bio.name }}</h3>
    <div class="card-body">
        <h5>< {{ bio.pronouns[0] }} / {{ bio.pronouns[1] }} ></h5>
        <p class="text-start p-2">{{ bio.desc }}</p>
        <a title="Email" class="btn btn-sv" href="mailto:sloane.vaznis@gmail.com" role="button">Contact</a>
        @if (tidbits) {
            <div class="list-group sv-bg-dark mt-3">
                @for (tidbit of tidbits; track $index) {
                    <a class="list-group-item list-group-item-action d-flex justify-content-between">
                        <span class="text-accent text-bold text-start">{{ tidbit[0] }}</span>
                        <span class="text-end">{{ tidbit[1] }}</span>
                    </a>
                }
            </div>
        }
    </div>
    <div class="card-footer fw-light d-flex justify-content-between">
        <a title="GitHub" class="btn text-accent" href="https://github.com/joculatrix"><i class="fa-brands fa-github"></i> &#64;joculatrix</a>
        <a class="btn text-accent" href="https://github.com/joculatrix/web_resume"><i class="fa-solid fa-code"></i> Source</a>
    </div>
</div>
