<div class="card anim-4 sv-bg-dark sv-border-accent">
	<h3 class="card-header text-center text-accent">Education</h3>
    <div class="card-body m-2">
        <div class="row gy-2">
			<div class="col-3 d-flex align-items-center">
			@if (school.img_src) {
					<img src="{{ school.img_src }}" class="img-fluid m-auto" />
			}
			</div>
            <div class="col-9">
                <p>
                    <span class="text-accent fw-bold">{{ school.school_name }}</span><br />
                    {{ school.degree }}<br />
					@if (school.minors) {
						Minors in @for (minor of school.minors; track $index; let last = $last) {
							{{ minor }}@if (!last) {,&nbsp;}
						}
						<br />
					}
                {{ school.grad_date }}
                </p>
            </div>
			<div class="col-12">
				@if (school.achievements) {
					<div class="text-accent text-center">Achievements:</div>
					<div class="list-group sv-bg-dark mt-1">
					@for (achievement of school.achievements; track $index) {
						<a class="list-group-item list-group-item-action" style="font-size: 0.875rem">
							{{ achievement }}
						</a>
					}
					</div>
				}
			</div>
        </div>
    </div>
</div>
