<div class="card sv-bg-dark sv-border-accent">
	<h2 class="card-header text-center text-accent">Projects</h2>
	<div class="card-body m-3">
		@if (projects.length > 1) {
			<ngb-carousel>
				@for (project of projects; track $index) {
					<ng-template ngbSlide>
						<img class="img-thumbnail mx-auto d-block mb-2" src="{{ project.img_src }}" style="max-width: 65%" />
						<h5 class="text-center">{{ project.title }}</h5>
						<p class="text-center">{{ project.desc }}</p>
						<div class="text-center"><a class="btn text-accent" href="{{ project.href }}">[Link]</a></div>
					</ng-template>
				}
			</ngb-carousel>
		}
		@else {
			<div>
				<img class="img-thumbnail mx-auto d-block mb-2" src="{{ projects[0].img_src }}" style="max-width: 65%" />
				<h5 class="text-center">{{ projects[0].title }}</h5>
				<p class="text-center">{{ projects[0].desc }}</p>
				<div class="text-center"><a class="btn text-accent" href="{{ projects[0].href }}">[Link]</a></div>
			</div>
		}
	</div>
</div>
