<div class="card anim-2 sv-bg-dark sv-border-accent">
	<h3 class="card-header text-center text-accent">Skills</h3>
    <div class="card-body">
        <div class="container h-100 d-flex align-items-center">
            <div class="row gy-2">
                @for (skillCategory of skills; track $index) {
                    <div class="col-lg-4 list-group-label">
                        {{ skillCategory.name }} <span class="text-accent fw-bold">></span>
                    </div>
                    <div class="col-lg-8">
                        <div class="list-group sv-bg-dark">
                            @for (skill of skillCategory.skills; track $index) {
                                <a class="list-group-item list-group-item-action d-flex justify-content-between">
                                    {{ skill.name }}
                                    <span style="min-width: 6rem">
                                        @for (i of [1,2,3,4,5]; track $index) {
                                            @if (i <= skill.level) {
                                                <i class="fa-solid fa-star text-accent"></i>
                                            }
                                            @else {
                                                <i class="fa-regular fa-star opacity-50"></i>
                                            }
                                        }
                                    </span>
                                </a>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
