@use 'sass:list';

@import "../node_modules/bootstrap/scss/bootstrap.scss";

$palette:
    #FF204E,
    #A0153E,
    #5D0E41,
    #00224D,
    #021526;

/* ---------- BTN ---------- */

.btn-sv {
    border: 2px solid list.nth($palette, 1);
    color: list.nth($palette, 1);
}

.btn-sv:hover {
    background-color: list.nth($palette, 1);
    color: list.nth($palette, 5);
}

/* ---------- CARDS ---------- */

@keyframes card-anim {
    from    { opacity: 0%; transform: translateY(12px); }
    to      { opacity: 100%; }
}

.card {
    animation-name: card-anim;
    animation-duration: 500ms;
	animation-fill-mode: both;
}

@for $i from 1 through 5 {
	.anim-#{$i} {
		animation-delay: 100ms * $i;
	}
}

@include media-breakpoint-up(lg) {
    .card {
		min-height: 100%;
	}
}

.sv-bg-dark {
    background-image: linear-gradient(list.nth($palette, 4), list.nth($palette, 5));
    opacity: 80%;
    color: #ffffff;
}

.sv-border-accent {
    border: 2px solid list.nth($palette, 3);
}

.sv-header {
    color: list.nth($palette, 1);
    background-color: list.nth($palette, 4);
}

/* ---------- LIST GROUPS ---------- */

.list-group-item {
    background-color: list.nth($palette, 5);
    color: #ffffff;
}
.list-group-item:hover {
    background-color: list.nth($palette, 4);
}

@include media-breakpoint-up(lg) {
    .list-group-label {
        text-align: right;
    }
}

/* ---------- MISC ---------- */

.text-accent {
    color: list.nth($palette, 1);
}

.row {
	@include media-breakpoint-down(lg) {
		--bs-gutter-y: 2.5rem;
	}
}

.project-img {
	@include media-breakpoint-up(lg) {
		max-width: 65%;
	}
}

/* ---------- HTML ELEMENTS ---------- */

body::before {
    content: "";
    z-index: -1;
    position: inherit;
    left: inherit;
    top: inherit;
    width: inherit;
    height: inherit;
    background-image: inherit;
    filter: invert(11%) sepia(74%) saturate(440%) hue-rotate(196deg) brightness(32%) contrast(106%);
}

body {
    background-image: url("../public/assets/what-the-hex-dark.png");
    background-size: 0 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: fixed;
    font-family: "JetBrains Mono", system-ui;
}

html {
    overflow: scroll;
}

@for $i from 1 through 6 {
    @if $i <= 4 {
        h#{$i}::before{
            content: "> ";
            color: #ffffff;
        }
    }

    h#{$i} {
        @if $i <= 5 {
            color: list.nth($palette, 1);
        }
        font-family: "DM Mono", monospace;
    }
}

